Package: com.ziph0n.ios6chargingsound
Name: iOS 6 Charging Sound
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: This will bring the iOS 6 charging sound using Beep Beep
Maintainer: Ziph0n
Author: Ziph0n
Section: Tweaks
